@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.3em;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.container {
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#cadena {
  padding: 20px;
  border-radius: 12px;
  font-weight: bold;
  resize: none;
  font-size: 1em;
  outline: none;
  height: 150px;
  width: 300px;
  color: #505050;
  background: rgb(255, 255, 255);
  border: 1px solid #333;
}

textarea::-webkit-input-placeholder {
  color: #333;
}

.chars {
  font-weight: bold;
  color: #333;
}

#clear {
  color: #fff;
  background: #F31559;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
}